.slide-banner {
    display: none;
}

.banner {
    vertical-align: middle;
}


.slide-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.anterior, .proximo{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.proximo:hover, .anterior:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.texto-banner {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numeros {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
    
    text-align: center;
}

.ponto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .ponto:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: .4;}
    to {opacity: 1;}
}

@media screen and (max-width: 600px) {
    .proximo, .anterior, .texto-banner{
        font-size: 11px;
    }
   
}

.barra-amarela{
    background-color: #ff6900;
    padding: 3rem;
}